@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.score-container {
  display:flex;
  justify-content: center;
  background-color: #2349A9;
  border: 1px solid #082775;
  border-radius: 25px;
  width:50px;
  margin-left:20px;
  padding: 2px 5px 2px 5px;
  font-size: 12px;
  font-weight: 700;
  color: #FFF;
}