@import "../styles/mixins.scss";
@import "../styles/variables.scss";


#polySearchMainGame {
  display: block;
  position:absolute;

  width: 100%;
  height: 10%;
  border:1px solid red;
}
.game-main-page {
  display: inline-block;
  width: 100%;
  height: 100%;
  border:1px solid red;
}
.main-page-title{
  text-align: center;
  color: black; 
}