@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.board-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:auto;

  .board-table-row {
    display: flex;
    flex-direction: row;
  }
}
.game-board-score-container {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 20px;
}

.game-board-grid {
  display: flex;
  flex-direction: row;
  margin: 1rem;

  .game-board-words-list {
    padding-right: 4px;
    padding-left: 20px;
  }
}

.game-over-title {
  text-align: center;
  padding-left: 20px;
  
}

.game-board-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;  
  margin-bottom: 1.5rem;

  .game-board-buttons {
    display: block;
    margin-left:20px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: lightblue;
    color: black;
    font-weight: bold;
  }  
}
