@import "../styles/mixins.scss";
@import "../styles/variables.scss";


#polySearchMainGame {
  display: block;
  position:absolute;
  /*flex-direction: column;*/
  /*justify-content: center;*/
  width: 100%;
  height: 10%;
  /*margin:auto;*/
  border:1px solid red;
  /*margin-top:30px;*/  
}
.game-main-page {
  display: inline-block;
  /*flex-direction: column;*/
  /*justify-content: center;*/
  width: 100%;
  height: 100%;
  /*margin:auto;*/
  border:1px solid red;
  /*margin-top:30px;*/
}
.main-page-title{
  text-align: center;
  color: black; 
}

/*
#main-page-id {
  text-align: center;
  font-weight: bold;
  background-image: url('/docs/paris-background.jpg');
  position: fixed;
  height: 100%;
  width: 100%;
}
*/