@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.board-table-row-cell {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  font-weight: 800;
  font-size: 0.7em;
  margin: 1px;     
  width:23px;
  height:23px;
}
.attempting {
  background-color: #2349A9;
  border: 1px solid #2349A9;
  border-radius: 10%;
  color: #FFF;
  width:21px;
  height:21px;  
}

.solved {
  background-color:  #4e1569;
  border: 1px solid #2349A9;
  border-radius: 10%;
  color: #FFF;  
  width:21px;
  height:21px;      
}