@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.hidden-words-board {
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  height: auto;
  word-break: break-word;

  border: 1px solid #000000;
  border-radius: 5px;
  margin-top: 1rem;
  margin-right: 3rem;
  background-color: #2349A9;
  border: 1px solid #2349A9;
}