@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.leaderboard-label-container {
  display: flex;
  flex-direction: row;
  border: 1px solid #808080;
  background-color: #d5def6;
  border-radius: 2px;
  padding: 5px;
  margin: 1px 0;
  width: 95%;
  height:40px;

  .leaderboard-label-avatar {
    width: 10%; 
    height: 10%;
    margin-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 10px;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
  .leaderboard-label-text-container {
    width:90%;
    padding-left: 15px;
    .leaderboard-label-text-user {
      font-weight: 900;
      font-size: 0.7rem;
    }

    .leaderboard-label-text {
      font-weight: 800;
      font-size: 1.25rem;
      opacity: 0.7;
    }
  }
}
.leaderboard-label-container::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 60px;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  display:flex;
  justify-content: flex-end;
  color: #aaa;
  width: 100%;
}

.time-left {
  float: left;
  color: #999;
}